
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>User</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" style=" height auto; overflow hidden; width auto; padding-bottom 20%;">
            <li class="header"><center><strong>MAIN NAVIGATION</strong></center></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Master</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "M_Company")">
                            <i class="fa fa-bookmark"></i><span>Company</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Employee")">
                            <i class="fa fa-bookmark"></i><span>Employee</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Role")">
                            <i class="fa fa-bookmark"></i><span>Role</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Menu")">
                            <i class="fa fa-bookmark"></i><span>Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Menu_Access")">
                            <i class="fa fa-bookmark"></i><span>Menu Access</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_User")">
                            <i class="fa fa-bookmark"></i><span>User</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Unit")">
                            <i class="fa fa-bookmark"></i><span>Unit</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Souvenir")">
                            <i class="fa fa-bookmark"></i><span>Souvenir</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "M_Product")">
                            <i class="fa fa-bookmark"></i><span>Product</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-briefcase"></i>
                    <span>Transaction</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "T_Event")">
                            <i class="fa fa-tags"></i><span>Event</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "T_Design")">
                            <i class="fa fa-tags"></i><span>Design</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "T_Promotion")">
                            <i class="fa fa-tags"></i><span>Promotion</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "T_Souvenir")">
                            <i class="fa fa-tags"></i><span>Souvenir</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>