@model Marcom.ViewModel.T_SouvinerItemViewModel

@{ 
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.TransactionCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Auto Generated" } })
                @Html.ValidationMessageFor(model => model.TransactionCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEvenId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control valid" data-val="true" id="evenCode" name="evenCode">
                    <option value="0">Even Code</option>
                </select>
                @Html.ValidationMessageFor(model => model.TEvenId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" id="btn-addItem" class="btn btn-default btn-success">
                    Add Item
                </button>
                <br />

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Souvenir Name</th>
                            <th>Qty</th>
                            <th>Note</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="souvenir-list"></tbody>

                    <tfoot>

                    </tfoot>
                </table>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn-save" class="btn btn-default btn-info pull-right">
                    Save
                </button>
            </div>
        </div>
    </div>

}

<script>

    var loop = [];

    $(document).ready(function () {
        SetEvenCode(0);
    })

    $(".datepicker").datepicker({
        format: 'dd M yyyy',

    })

    function SetEvenCode(evenCode) {
        $.ajax({
            url: 'http://localhost:50876/api/T_Events',
            type: 'GET',
            success: function (result) {
                $.each(result, function (i, item) {
                    var option = '<option value="' + item.Id + '">' + item.EventName + '</option>';
                    $('#evenCode').append(option);
                })
                $('#evenCode').val(evenCode);
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    function GetListItem() {  //Sovenir List
        var table = "<tr>";
        table += "<th><select class='form-control col-md-6 u_SouvenirId' data-val='true' id='u_SouvenirId' name='u_SouvenirId'><option value=' '>Select Souvenir</option></select></th> <th><input id='qty' name='qty' placeholder='Qty' type='number' /></th> <th><input id='note' name='note' placeholder='Note' /></th> <th><button type='button' class='btn btn-danger btn-sm btn-remove' onclick='Remove(this)'> <span class='glyphicon glyphicon-trash'></span></button></th>";

        table += "</tr>";

        return table;
    }

    $("#btn-addItem").click(function () {

        //memasukkan TR ke itemlist
        var tr = GetListItem();
        $("#souvenir-list").append(tr);

        var rowCount = $('#souvenir-list tr').length;

        SetSouvenir(0);

    })

    function Remove(obj) {
        $(obj).closest("tr").remove();
    }

    $("#btn-save").click(function () {

        var transactionCode = document.getElementById('TransactionCode').value;
       

        var rqstDate = document.getElementById('RequestDate').value;
        var note = document.getElementById('Note').value;
        var dueDate = document.getElementById('DueDate').value;
        var rqstBy = document.getElementById('RequestBy').value;

        var empRcv = document.getElementById('evenCode'); //panggil berdasarkan element yang ada di tengah model
        ////alert(mMenuId.selectedIndex);
        ////alert(mMenuId.options[mMenuId.selectedIndex].value);
        var empRcvv = empRcv.options[empRcv.selectedIndex].value;
        
        $("#souvenir-list").find("tr").each(function () {
            var SouvenirId = $(this).find("select[name=u_SouvenirId]").val();
            var qty = $(this).find("input[name=qty]").val();
            var notes = $(this).find("input[name=note]").val();

            var testing = {Note: notes, Qty: qty, IsDelete: false };
            loop.push(testing);
        })

        var now = new Date();

        var data = { RequestBy: rqstBy, RequestDate: now, Note: note, TSouvenirId: 1002, MSouvenirId: 1, CreatedBy: "Admin", CreatedDate: now, TransactionCode: transactionCode, DueDate: dueDate, TEvenId: empRcvv, IsDelete: false, DetailsSouvItem: loop };

       alert(JSON.stringify(data));

        $.ajax({
            url: "http://localhost:50876/api/T_SouvenirItems",
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Success) {
                    alert("Success");
                    $("#modal-Form").modal("hide");
                    ItemList();
                }
                else {
                    alert("error : " + result.Message);
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    })

    function SetSouvenir(u_SouvenirId) {
        $.ajax({
            url: 'http://localhost:50876/api/M_Souvenirs',
            type: 'GET',
            success: function (result) {
                $('.u_SouvenirId').html('<option value="0">Select Souvenir</option>');
                $.each(result, function (i, item) {
                    var option = '<option value="' + item.Id + '">' + item.Name + '</option>';
                    $('.u_SouvenirId').append(option);
                })
                $('.u_SouvenirId').val(u_SouvenirId);
            },
            error: function (err) {
                alert(err);
            }
        })
    }

</script>