@model Marcom.ViewModel.M_ProductViewModel

@{ 
    Layout = "";
}
   @using (Html.BeginForm("", "M_Product", FormMethod.Post, new { id = "create-form", name = "create-form" }))
   {
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "PRXXXX" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" id="btn-save" class="btn btn-default btn-info pull-right" value="Save" />
        </div>
    </div>
   }


@Scripts.Render("~/bundles/jqueryval")

<script>

    $("#create-form").submit(function () {

        var productCode = document.getElementById('Code').value;
        var productName = document.getElementById('Name').value;
        var description = document.getElementById('Description').value;

        var now = new Date();

        var data = { Code: productCode, Name: productName, Description: description, IsDelete: false, CreatedBy: "Administrator", CreatedDate: now};

        //alert(JSON.stringify(data));

        $.ajax({
            url: "http://localhost:50876/api/M_Products",
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Success) {
                    alert("Success");
                    $("#modal-Form").modal("hide");
                    ShowList();
                }
                else {
                    alert("error : " + result.Message);
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    })

</script>